<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
  </div>
  <div class="col-12 p-fluid">
    <label>Descrição</label>
    <input pInputText type="text">
    </div>
    <div class="col-12">
      <label class="block">Vencimento</label>
      <input pInputText type="text" style="width: 95px">

      <label class="label"> Até </label>
      <input pInputText type="text" style="width: 95px">
      </div>

      <div classs="col-12">
        <button pButton type="submit" label="Pesquisar" ></button>
      </div>
     </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]="lancamentos">
          <eng-template pTemplate="header">
            <tr>
              <th>Pessoa</th>
              <th>Descrição</th>
              <th class="col-data-header">Vencimentos</th>
              <th class="col-data-header">Pagamento</th>
              <th class="col-data-header">Valor</th>
            </tr>
          </eng-template>
          <ng-template pTemplate="body" let-lancamento>
            <tr>
              <td>{{ lancamento.pessoa }}</td>
              <td> lancamento.descricao }} </td>
              <td class="col-data-content"> {{lancamento.dataVencimento}} </td>
            </tr>
        </ng-template>
</p-table>

    </div>




</div>